body {
    background-color: rgb(44, 44, 44);
}
h {
    color: white;
    font-size: 50px;
    text-align: center;
    
}
p {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}