body {
    background-color: rgb(44, 44, 44);
}
small {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: system-ui;
}
p {
    color: white;
    margin-left: 450px;
    font-size: 20px;
    font-family: system-ui;
    max-width: 45%;
    margin: 20px auto;
}
h2 {
    color: white;
    font-family: sans-serif;
    margin-left: 25%;
    font-size: 50px;
}
code {
    background-color: #454141;
    color: #eeee9a;
    margin-left: 30%;
    font-size: 15px;
    border: 10px solid rgb(69, 65, 65);
}
a {
    color: rgb(40, 153, 224);
    font-family: sans-serif;
    text-align: center;
}
pre {
    background-color: #454141;
    color: #eeee9a;
    margin-left: 200px;
    font-size: 15px;
    border: 30px solid rgb(69, 65, 65);
}
.image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 20px auto; /* Adds spacing and centers the image */
}
p1 {
    color: rgb(237, 101, 101);
}